{% extends 'base.html.twig' %}

{% block title %}La Caserai{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper" style="background-color: #4f4f4f; color: white; border: black 2%;">
        <h1>About us, La Caserai</h1>
        <div class="container">
            <br>
            <h4>Welcome to La Caserai, we are a very small but very popular hotel. This hotel offers a large scale options of rooms, a total of 30 to be exact!</h4>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet interdum enim, quis efficitur augue molestie in. Morbi malesuada sem tellus, pretium fermentum felis interdum ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse tempus varius tortor. Sed imperdiet metus justo, ac viverra massa ultrices eu. Suspendisse varius urna in posuere porttitor. Integer ac risus quis urna facilisis auctor vel nec erat. Donec pretium vehicula mollis. Aliquam nec tortor at nibh dictum fringilla. Fusce a nisi id dui scelerisque porta. In hac habitasse platea dictumst. Nullam ut consequat ex. Donec ac quam sem. Sed et ornare lectus.

            Vivamus magna nunc, gravida sed tellus vitae, condimentum congue lectus. Proin feugiat nibh vel tempor imperdiet. Sed suscipit nisl ultricies orci iaculis, in tempor eros dignissim. Cras pretium erat et laoreet aliquam. Etiam ac libero vel leo mattis tempus. Duis nec tellus ante. Sed consectetur libero vitae hendrerit blandit. Nam at vulputate mi, at porttitor nibh. Nullam scelerisque ornare turpis, eget elementum orci tristique a. Sed mollis eros ut venenatis faucibus. Aenean non varius nisl, at euismod eros. Aliquam quam velit, pellentesque non sem at, porttitor semper tortor. Suspendisse potenti. Nam malesuada, nulla quis imperdiet scelerisque, dolor metus dignissim ipsum, vitae tincidunt nisl quam id purus. Suspendisse eu cursus mauris.
        </div>
    </div>

{% endblock %}
