<form method="post" action="{{ path('resevering_delete', {'id': resevering.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resevering.id) }}">
    <button class="btn">Delete</button>
</form>
